@font-face {
	font-family: theFont;
	src: url('/res/Wumbology.ttf');
}

@font-face {
	font-family: theFontBold;
	src: url('/res/Wumbology-Bold.ttf');
}

body{
	font-family: theFont;
}

canvas {
	border: 1px solid black;
	width:960px;
	height:750px;
}

#fullWrapper{
	width:960px;
	margin-left:auto;
	margin-right:auto;
}

#status {
	padding-left:20px;
	padding-right: 20px;
}

#gameWrapper {
	width:960px;
}

#buttonholder {
	text-align:center;
}

#mainWrapper {
	text-align:center;
	width:750px;
	margin-left:auto;
	margin-right:auto;
}

.titleText {
	font-size:30;
	font-family:theFontBold;
}

.subtitleText {
	font-size: 25;
	font-family:theFontBold;
}